<!DOCTYPE html>
<html>
<head>
    <title>Детальная информация о недвижимости</title>
</head>
<body>
    <h1>Детальная информация о недвижимости</h1>
    <p><strong>Название:</strong> {{ property[1] }}</p>
    <p><strong>Адрес:</strong> {{ property[2] }}</p>
    <p><strong>Этаж:</strong> {{ property[3] }}</p>
    <p><strong>Площадь:</strong> {{ property[4] }}</p>
    <p><strong>Тип:</strong> {{ property[5] }}</p>
    <p><strong>Ближайшие метро:</strong> {{ property[6] }}</p>
    <p><a href="/">Вернуться к списку</a></p>
</body>
</html>
